<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Project</title>
</head>
<body>
<h1>Rediger Projekt</h1>

<!-- Fejl-/succesbesked -->
<p th:if="${error}" th:text="${error}"></p>
<div th:if="${success}" class="success" th:text="${success}"></div>


<!-- Formular til edit-project -->

<form th:action="@{/projects/update}" th:object="${project}" method="post">

    <input type="hidden" th:field="*{projectId}"/>

    <p>
        <label>Navn:</label>
        <input type="text" th:field="*{name}"/>
    </p>

    <p>
        <label>Beskrivelse:</label>
        <textarea th:field="*{description}"></textarea>
    </p>

    <p>
        <label>Deadline:</label>
        <input type="date" th:field="*{deadline}"/>
    </p>

    <p>
        <label>Estimeret Tid (timer):</label>
        <input type="number" th:field="*{estimatedTime}"/>
    </p>

    <p>
        <label>Status:</label>
        <select th:field="*{status}">
            <option th:each="s : ${T(com.example.estimationtool.enums.Status).values()}"
                    th:value="${s}"
                    th:text="${s}"></option>
        </select>
    </p>

    <!-- Knap til Opdatér task -->

    <p>
        <button type="submit">Opdater</button>
    </p>

</form>

<!-- Sletter task -->

<form th:action="@{/tasks/delete/{id}(id=${task.taskId})}" method="post">
    <button type="submit" onclick="return confirm('Er du sikker på, at du vil slette dette Project?')">Slet</button>
</form>

<p><a th:href="@{/tasks}">Tilbage til opgaveliste</a></p>

</body>
</html>