<h1>Projektliste</h1>

<!-- Vis lidt brugerinfo -->
<p th:text="'Logget ind som: ' + ${userWithProjects.user.firstName} + ' ' + ${userWithProjects.user.lastName} + ' (' + ${userWithProjects.user.role} + ')'"></p>

<!-- Info-besked -->
<div th:if="${info}">
    <p th:text="${info}" style="color: darkorange; font-weight: bold;"></p>
</div>

<table>
    <tr>
        <th>ProjektID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Estimeret Tid</th>
        <th>Forbrugt Tid</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Handling</th>
    </tr>
    <tr th:each="project : ${userWithProjects.projectList}">
        <td th:text="${project.projectId}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.estimatedTime} + ' t.'"></td>
        <td th:text="${project.timeSpent} + ' t.'"></td>
        <td th:text="${project.deadline}"></td>
        <td th:text="${project.status}"></td>
        <td>
            <a th:href="@{/projects/{id}(id=${project.projectId})}">Se detaljer</a>
        </td>
        <td th:if="${isAdmin or isProjectManager}">
            <a th:href="@{/projects/edit/{id}(id=${project.projectId})}">Rediger</a>
        </td>
    </tr>
</table>

<div th:if="${isAdmin or isProjectManager}">
    <a href="/projects/create">Opret nyt projekt</a>
</div>