<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
<body>

<h1>Projektliste</h1>

<!-- Fejlbesked -->
<section th:if="${error}" class="error-section">
    <p th:text="${error}" class="error-message"></p>
</section>

<!-- Opret nyt projekt -->
<section class="form-actions">
    <div>
        <a th:href="@{/projects/create}">
            <button>Opret nyt projekt</button>
        </a>
    </div>
</section>


<!-- Projektoversigt -->
<section class="mini-info">
    <div th:each="project : ${projectList}" class="project-summary">
        <div>Navn: <span th:text="${project.name}"></span></div>
        <div>Deadline: <span th:text="${project.deadline}"></span></div>
        <div>Forbrugt tid: <span th:text="${project.timeSpent} + ' t.'"></span></div>
        <div>Status: <span th:text="${project.status}"></span></div>
        <div class="details-link">
            <a th:href="@{/projects/{projectId}(projectId=${project.projectId})}">Se detaljer</a>
        </div>
        <hr/>
    </div>
</section>

<!-- Navigation -->
<section class="navigation">
    <a th:href="@{/users/profile}">Tilbage til forside</a>
</section>

</body>
</html>