<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project With SubProjects</title>
</head>
<body>
<h1>Projekts Subprojekter</h1>

<!-- Kort info om projekt -->
<section>
  <h2>Projektinformation</h2>
  <p>Navn: <span th:text="${projectWithSubProjects.project.name}"></span></p>
  <p>Deadline: <span th:text="${projectWithSubProjects.project.deadline}"></span></p>
  <p>Aktuelle tidsforbrug:<span th:text="${projectWithSubProjects.project.timeSpent}"></span> timer</p>
</section>

<!-- Kort info om Subprojekter -->
<section>
  <h2>Subprojekter</h2>

  <ul th:if="${!#lists.isEmpty(projectWithSubProjects.subProjectList)}">
    <li th:each="subproject : ${projectWithSubProjects.subProjectList}">
      <section>
        <p>Navn: <span th:text="${subproject.name}"></span></p>
        <p>Deadline: <span th:text="${subproject.deadline}"></span></p>
        <p>Status: <span th:text="${subproject.status}"></span></p>
        <!-- Se detaljer-knap -->
        <a th:href="@{/subprojects/{id}(id=${subproject.subProjectId})}">
          <button>Se detaljer</button>
        </a>
      </section>
      <hr/>
    </li>
  </ul>

<!-- Hvis listen er tom -->

<p th:if="${#lists.isEmpty(projectWithSubProjects.subProjectList)}">
  Projektet har ingen tilknyttede subprojekter.
</p>
</section>

<section>
  <a th:href="@{/subprojects/create(projectId=${projectWithSubProjects.project.projectId})}">
    <button>Opret Subprojekt</button>
  </a>
</section>


<!-- Tilbage-knap til project-detail.html -->
<section>
  <a th:href="@{/projects/{id}(id=${projectWithSubProjects.project.projectId})}">
    <button>⬅ Tilbage til projekt-detaljer</button>
  </a>
</section>

</body>
</html>