<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SubTask List</title>
</head>
<body>
<h1>Alle subtasks</h1>

<!-- Fejl-/succesbesked -->
<section th:if="${error}" class="error-section">
    <p th:text="${error}" class="error-message"></p>
</section>
<section th:if="${success}" class="success-section">
    <p th:text="${success}" class="success-message"></p>
</section>
<!-- Liste af subtasks er kun for admin -->
<section th:if="${session.currentUser.role.name() == 'ADMIN'}" class="mini-info">
    <div th:each="subtask : ${subtasks}" class="list">
        <div>Navn: <span th:text="${subtask.name}"></span></div>
        <div>Opgave ID: <span th:text="${subtask.taskId}"></span></div>
        <div>Status: <span th:text="${subtask.status}"></span></div>
        <div>Deadline: <span th:text="${subtask.deadline}"></span></div>
        <div>
            <a th:href="@{/subtasks/{id}(id=${subtask.subTaskId})}">
                <button>Se detaljer</button>
            </a>
        </div>
        <hr/>
    </div>
</section>

<!-- Hvis en anden rolle forsøger at tilgå -->
<section th:unless="${session.currentUser.role.name() == 'ADMIN'}">
    <p>Du har ikke adgang til denne side.</p>
</section>

<!-- Knap til at oprette ny underopgave -->
<section class="form-actions" th:if="${session.currentUser.role.name() == 'ADMIN'}">
    <div>
        <a th:href="@{/subtasks/create}">
            <button>Opret ny underopgave</button>
        </a>
    </div>
</section>

<!-- Navigation -->
<section class="navigation">
    <div>
        <a th:href="@{/users/profile}">
            <button>Tilbage til forside</button>
        </a>
    </div>
</section>


</body>
</html>