<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SubTask With TimeEntries</title>
</head>
<body>

<h1>Tidsregistreringer for subtask</h1>

<!-- Kort info om subtask -->
<section class="mini-info">
    <h3>Kort beskrivelse af subtask</h3>
    <div>Navn: <span th:text="${subTask.name}"></span></div>
    <div>Deadline: <span th:text="${subTask.deadline}"></span></div>
    <div>Estimeret tid: <span th:text="${subTask.estimatedTime}"></span> timer</div>
    <div>Aktuelle tidsforbrug: <span th:text="${subTask.timeSpent}"></span> timer</div>
    <div>Status: <span th:text="${subTask.status}"></span></div>
</section>

<section class="mini-info">
    <h3>Kort beskrivelse af tidsregistrering</h3>

    <div th:if="${!#lists.isEmpty(subTaskWithTimeEntries.timeEntries)}">
        <div th:each="timeEntry : ${subTaskWithTimeEntries.timeEntries}" class="list">
            <div>BrugerID: <span th:text="${timeEntry.userId}"></span></div>
            <div>Tid forbrugt: <span th:text="${timeEntry.hoursSpent}"> timer</span></div>
            <div>Oprettelsesdato: <span th:text="${timeEntry.date}"></span></div>

                <a th:href="@{/timeentries/{id}(id=${timeEntry.timeId})}">
                    <button>Se detaljer</button>
                </a>
        </div>
    </div>
</section>

<!-- Opret ny timeEntry (for alle) -->
<section class="form-actions">
    <div>
        <a th:href="@{/timeentries/create(taskId=${subTaskWithTimeEntries.subTask.taskId}, subTaskId=${subTaskWithTimeEntries.subTask.subTaskId})}">
            <button>Opret tidsregistrering</button>
        </a>
    </div>
</section>

<!-- Hvis listen er tom -->
<section th:if="${#lists.isEmpty(subTaskWithTimeEntries.timeEntries)}">
    <div>
        <p>Der er endnu ikke registreret nogle timer for denne subtask.</p>
    </div>
</section>


<!-- Navigation -->
<section class="navigation">

    <div>
        <!-- Tilbage til subtask-detail.html er for alle -->
        <a th:href="@{/subtask/{id}(id=${subTaskWithTimeEntries.subTask.subTaskId})}">
            <button>Tilbage til subtask</button>
        </a>
    </div>

    <!-- Tilbage til liste af alle timeEntries er for admin: timeentry-list.html -->
    <div th:if="${session.currentUser.role.name() == 'ADMIN'}">
        <a th:href="@{/timeentries/list}">
            <button>Tilbage til listen af tidsregistreringer</button>
        </a>
    </div>

    <!-- Tilbage til front-page.html er for alle -->
    <div>
        <a th:href="@{/users/profile}">
            <button>Tilbage til forside</button>
        </a>
    </div>

</section>
</body>
</html>