<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task With SubTasks</title>
</head>
<body>

<h1>Subtasks tilknyttet en task</h1>
<!-- Kort info om opgaven -->
<section class="mini-info">
    <div>Navn: <span th:text="${taskWithSubTasks.task.name}"></span></div>
    <div>Deadline: <span th:text="${taskWithSubTasks.task.deadline}"></span></div>
    <div>Status: <span th:text="${taskWithSubTasks.task.status}"></span></div>
</section>

<h3>Subtasks</h3>

<section class="mini-info">
    <div th:if="${!#lists.isEmpty(taskWithSubTasks.subTaskList)}">
        <div th:each="sub : ${taskWithSubTasks.subTaskList}" class="list">
            <div>Navn: <span th:text="${sub.name}"></span></div>
            <div>Status: <span th:text="${sub.status}"></span></div>
            <div>Deadline: <span th:text="${sub.deadline}"></span></div>
            <div>
                <a th:href="@{/subtasks/{id}(id=${sub.subTaskId})}">
                    <button>Se detaljer</button>
                </a>
            </div>
            <hr/>
        </div>
    </div>
</section>

<section>
    <!-- Hvis ingen underopgaver -->
    <div th:if="${#lists.isEmpty(taskWithSubTasks.subTaskList)}">
        Der er ingen subtasks tilknyttet denne opgave.
    </div>
</section>

<!-- Opret subtask-knap -->
<section class="form-actions">
    <div>
        <a th:href="@{/subtasks/create(taskId=${taskWithSubTasks.task.taskId})}">
            <button>Opret ny subtask</button>
        </a>
    </div>
</section>

<!-- Navigation -->
<section class="navigation">

    <!-- Tilbage til task-detail.html -->
    <div>
        <a th:href="@{/tasks/{id}(id=${taskWithSubTasks.task.taskId})}">
            <button>Tilbage til task-detaljer</button>
        </a>
    </div>

    <!-- Tilbage til forside -->
    <div>
        <a th:href="@{/users/profile}">
            <button>Tilbage til forside</button>
        </a>
    </div>
</section>

</body>
</html>