<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Detail</title>
</head>
<body>

<h1>Task detaljer</h1>

<!-- Fejlbesked -->
<section th:if="${error}" class="error-section">
    <p th:text="${error}" class="error-message"></p>
</section>

<!-- Viser detaljer om task -->
<section class="details-grid">
    <div>Navn: <span th:text="${task.name}"></span></div>
    <div>Beskrivelse: <span th:text="${task.description}"></span></div>
    <div>Deadline: <span th:text="${task.deadline}"></span></div>
    <div>Estimeret tid: <span th:text="${task.estimatedTime}"></span> timer</div>
    <div>Aktuelle tidsforbrug: <span th:text="${task.timeSpent}"></span> timer</div>
    <div>Status: <span th:text="${task.status}"></span></div>
</section>

<!-- Rediger task er for alle -->
<section class="form-actions">
    <div>
        <a th:href="@{/tasks/edit/{taskId}(taskId=${task.taskId})}">
            <button>Rediger task</button>
        </a>
    </div>
</section>



<!-- Navigation -->
<section class="navigation">

    <!-- Til taskens subtask-liste -->
    <div>
        <a th:href="@{/tasks/{taskId}/subtasks(taskId=${task.taskId})}">
            <button>Se tilknyttede subtasks</button>
        </a>
    </div>

    <!-- Se tilknyttede brugere til task -->
    <div>
        <a th:href="@{/tasks/{taskId}/users(taskId=${task.taskId})}">
            <button>Se tilknyttede brugere</button>
        </a>
    </div>

    <!-- Tilbage til subproject-with-tasks.html er for alle -->
    <div>
        <a th:href="@{/subprojects/{id}/tasks(id=${task.subProjectId})}">
            <button>Tilbage til subprojektets tasks</button>
        </a>
    </div>

    <!-- Tilbage til tasks-list.html er kun for admin -->
    <div th:if="${session.currentUser.role.name() == 'ADMIN'}">
        <a th:href="@{/tasks/list}">
            <button>Tilbage til alle tasks</button>
        </a>
    </div>

    <!-- Tilbage til front-page.html er for alle -->
    <div>
        <a th:href="@{/users/profile}">
            <button>Tilbage til forside</button>
        </a>
    </div>
</section>

</body>
</html>