<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User With Projects</title>
</head>
<body>

<section>
    <h2>Brugeroplysninger</h2>
    <p>Fulde Navn: <span th:text="${userWithProjects.user.firstName}"></span> <span th:text="${userWithProjects.user.lastName}"></span></p>
</section>


<!-- Projekter (vises hvis listen ikke er tom) -->
<section>
    <h2>Projekter</h2>
    <ul th:if="${!#lists.isEmpty(userWithProjects.projectList)}">
        <li th:each="project : ${userWithProjects.projectList}">
            <span th:text="${project.name}"></span> -
            <span th:text="${project.status}"></span>

            <!-- Projekt-detaljer-knap -->
            <a th:href="@{/projects/{id}(id=${project.projectId})}" class="btn">
                Projekt-detaljer
            </a>

        </li>
    </ul>
<!-- Besked hvis listen er tom -->
    <p th:if="${#lists.isEmpty(userWithProjects.projectList)}">
        Brugeren<span th:text="${userWithProjects.user.firstName}"></span> har ikke nogle tilknyttede projekter.
    </p>
</section>

<!-- Tilbage til forsiden -->
<a th:href="@{/profile}">
    <button>⬅ Tilbage til forsiden</button>
</a>

</body>
</html>