<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
</head>
<body>

<h1>Liste af alle brugere</h1>

<!-- Fejlbesked -->
<section th:if="${error}" class="error-section">
  <p th:text="${error}" class="error-message"></p>
</section>

<!-- Brugerliste -->
<section class="mini-info">
  <div th:each="user : ${users}" class="list">
    <div>Navn: <span th:text="${user.firstName + ' ' + user.lastName}"></span></div>
    <div>Rolle: <span th:text="${user.role}"></span></div>
    <div>
      <a th:href="@{/users/{userId}(userId=${user.userId})}">
        <button>Se detaljer</button>
      </a>
    </div>
    <hr/>
  </div>
</section>

<!-- Knap: Opret ny bruger -->
<section class="form-actions">
  <div>
    <a th:href="@{/users/create}">
      <button>Opret ny bruger</button>
    </a>
  </div>
</section>

<!-- Navigation -->
<section class="navigation">
  <div>
    <a th:href="@{/users/profile}">
      <button>Tilbage til forside</button>
    </a>
  </div>
</section>

</body>
</html>
