<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<h1>Brugeroplysninger</h1>
<div th:if="${error}" class="error" th:text="${error}"></div>


<table>
    <tr>
        <th>ID:</th>
        <td th:text="${user.userId}"></td>
    </tr>
    <tr>
        <th>Fornavn:</th>
        <td th:text="${user.firstName}"></td>
    </tr>
    <tr>
        <th>Efternavn:</th>
        <td th:text="${user.lastName}"></td>
    </tr>
    <tr>
        <th>Email:</th>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <th>Rolle:</th>
        <td th:text="${user.role}"></td>
    </tr>
</table>

<br>

<br>
<a th:href="@{/users/edit/{id}(id=${user.userId})}"><button>Rediger bruger</button></a>

<a th:href="@{/users/users}">Tilbage til brugeroversigt</a>

</body>
</html>