<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User With Tasks</title>
</head>
<body>
<h1>Brugerens tasks</h1>

<!-- Kort info om brugeren -->
<section class="mini-info">
    <div>Fornavn: <span th:text="${userWithTasks.user.firstName}"></span></div>
    <div>Efternavn: <span th:text="${userWithTasks.user.lastName}"></span></div>
    <div>Rolle: <span th:text="${userWithTasks.user.role}"></span></div>
</section>

<h3>Tasks</h3>

<!-- Tasks -->
<section class="mini-info">
    <div th:if="${!#lists.isEmpty(userWithTasks.taskList)}">
        <div th:each="task : ${userWithTasks.taskList}" class="list">
            <div>Navn: <span th:text="${task.name}"></span></div>
            <div>Status: <span th:text="${task.status}"></span></div>
            <div>Deadline: <span th:text="${task.deadline}"></span></div>
            <div>
                <a th:href="@{/tasks/{id}(id=${task.taskId})}">
                    <button>Se detaljer</button>
                </a>
            </div>
            <hr/>
        </div>
    </div>

    <!-- Hvis der ingen opgaver er -->
    <div th:if="${#lists.isEmpty(userWithTasks.taskList)}">
        Brugeren <span th:text="${userWithTasks.user.firstName}"></span> har ingen tilknyttede opgaver.
    </div>
</section>

<!-- Navigation -->
<section class="navigation">
    <div>
        <a th:href="@{/users/profile}">
            <button>Tilbage til forside</button>
        </a>
    </div>
</section>

</body>
</html>