<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All SubProjects</title>
</head>
<body>
<h1>Alle subprojekter</h1>

<!-- Fejlbesked -->
<section th:if="${error}" class="error-section">
    <p th:text="${error}" class="error-message"></p>
</section>

<!-- Liste af subprojekter er kun for admin -->
<section th:if="${session.currentUser.role.name() == 'ADMIN'}" class="mini-info">
    <div th:each="subproject : ${allSubprojects}" class="list">
        <div>Navn: <span th:text="${subproject.name}"></span></div>
        <div>Projekt ID: <span th:text="${subproject.projectId}"></span></div>
        <div>
            <a th:href="@{/subprojects/{subprojectId}(subprojectId=${subproject.subProjectId})}">
                <button>Se detaljer</button>
            </a>
        </div>
    </div>
</section>

<!-- Hvis en anden rolle forsøger at tilgå -->
<section th:unless="${session.currentUser.role.name() == 'ADMIN'}">
    <p>Du har ikke adgang til denne side.</p>
</section>

<!-- Navigation -->
<section class="navigation">
    <div>
        <a th:href="@{/users/profile}">
            <button>Tilbage til forside</button>
        </a>
    </div>
</section>

</body>
</html>