<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Projektet' + ${projectwithsubprojectdto.project.name} + ' subprojekter'"></title>
</head>
<body>
<h1 th:text="'Subprojekter under projektet ' + ${projectwithsubprojectdto.project.name}"></h1>
<div th:if="${error}" class="error" th:text="${error}"></div>
<table>
    <tr>
        <th>Status</th>
        <th>SubprojektID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Estimeret tid</th>
        <th>Tidsforbrug logget</th>
        <th>Deadline</th>
    </tr>
    <tr th:each="subproject : ${projectwithsubprojectdto.subProjectList}">
        <td th:text="${subproject.status}"></td>
        <td th:text="${subproject.subProjectId}"></td>
        <td th:text="${subproject.name}"></td>
        <td th:text="${subproject.description}"></td>
        <td th:text="${subproject.estimatedTime}"></td>
        <td th:text="${subproject.timeSpent}"></td>
        <td th:text="${subproject.deadline}"></td>
    </tr>
</table>

<p><a th:href="@{/projects/list}">Tilbage til projektliste</a></p>

</body>
</html>