<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle subprojekter</title>
</head>
<body>
<table>
    <tr>
        <th>Status</th>
        <th>ProjektID</th>
        <th>SubprojektID</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Estimeret tid</th>
        <th>Tidsforbrug logget</th>
        <th>Deadline</th>
    </tr>
    <tr th:each="subproject : ${allSubprojects}">
        <td th:text="''${subproject.getStatus()}"></td>
        <td th:text="''${subproject.getProjectId()}"></td>
        <td th:text="''${subproject.getSubProjectId()}"></td>
        <td th:text="''${subproject.getName()}"></td>
        <td th:text="''${subproject.getDescription()}"></td>
        <td th:text="''${subproject.getEstimatedTime()}"></td>
        <td th:text="''${subproject.getTimeSpent()}"></td>
        <td th:text="''${subproject.getDeadline()}"></td>
    </tr>
</table>
</body>
</html>